body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.navbar {
    padding: 10px;
}

.logo {
    margin: 15px;
    width: 200px;
}

.jumbotron {
    padding: 50px;
    background-color: #e84118;
    color: #f9f9f9;
    margin-top: 50px;
}
.detector {
    margin: 100px 100px;
    text-align: center;
    padding: 30px;
    color: white;
    background-color: #273c75; /* #e84118 */
    border-radius: 30px;
}

.detectorImg {
    font-size: 150px;
    margin: 15px;
}

.danger {
    color: red;
}

.nodanger {
    color: #4BCA81;
}